# vi: ft=sh
source ~/.custom_scripts/index

source ~/.letote-aliases

alias antlr='java -jar /usr/local/Cellar/antlr/4.7.1/antlr-4.7.1-complete.jar'

alias fixcamera='echo acer | please -S killall VDCAssistant'
alias mkdir="mkdir -pv -m 2755"
alias lspem="\ls -le"
alias cleanx="rm -rf /Users/kormie/Library/Developer/Xcode/DerivedData && xc"

alias tree="tree -alC"
alias elint="fswatch -o ./lib | xargs -n1 -I{} ~/.credo_run.sh"
alias etest="fswatch -o ./test ./lib | xargs -n1 -I{} ~/.etest.sh"

alias connect_test="ssh -i \"~/.ssh/test_aws_server.pem\" ubuntu@ec2-52-207-172-228.compute-1.amazonaws.com"

alias lt='cd ~/letote/letote'

alias domaster='gco master && git pull -r && gco - && git merge master --no-edit'

alias servedir='ruby -run -e httpd . -p 9091'
alias jl='cd ~/Documents/projects/konrad'

alias nprompt="export PROMPT=$; export RPROMPT=''"

alias xc='open *.xcworkspace'
alias appcode="open -a AppCode\ EAP.app"
alias ac='appcode *.xcworkspace'

#eval "$(hub alias -s)"
alias gist='gist -p'

alias standup='log HEAD~40..HEAD | ack david'

alias c=clear
alias gs="clear && git status -sb"
alias log='git log --graph --pretty="format:%C(yellow)%h%Cred%d%Creset %s %C(white) %C(cyan)%an%Creset, %C(green)%ar%Creset"'
alias diff='git diff'
alias doff='diff'
alias zz='vi ~/.zshrc'
alias vv='vi ~/.vimrc'
alias psd="open -a /Applications/Adobe\ Photoshop\ CS6/Adobe\ Photoshop\ CS6.app"
alias adb="/Users/Kormie/Library/Android/sdk/platform-tools/adb"
alias vi=nvim

alias hdocs='open /Users/kormie/Library/Haskell/doc/index.html'

alias rpsec='rspec'
