*

!macSetup.sh
!.gitmodules
!.bashrc
!.erlang
!.erlang_settings
!.gemrc
!.gitconfig
!.gitignore_master
!.gitignore
!.zsh-custom/
!.zsh-custom/*
!.zsh-custom/**/*
.zsh-custom/plugins/
!.irbrc
!.vimrc
!.vimrc_backup
!.zshrc
!.tmux.conf
!ltmux.sh
!ltmobile.sh
!asdf_plugins.sh
!.tool-versions
!.config/
!.config/*
!.config/**/*
.config/**/.DS_STORE
.config/nvim_back
.config/nvim/plugged
.config/nvim/autoload/
.config/nvim/.netrwhist
.config/**/node_modules
.config/direnv/allow
.config/butterfly/ssl
.config/.mono/keypairs
.config/configstore
.config/yarn
.config/gatsby
.config/gh
.config/gcloud
.config/coc
.config/iterm2
!.aliases
!.custom_scripts/
!.custom_scripts/*
