*

!.bashrc
!.erlang
!.erlang_settings
!.gemrc
!.gitconfig
!.gitignore_master
!.gitignore
!.zsh-custom/themes/
!.irbrc
!.vimrc
!.vimrc_backup
!.zshrc
!.asdf
!.tmux.conf
!ltmux.sh
!ltmobile.sh
!asdf_plugins.sh
!.config/
