[submodule "/Users/kormie/.asdf"]
	path = /Users/kormie/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "/Users/kormie/.zplugin/bin"]
	path = /Users/kormie/.zplugin/bin
	url = https://github.com/zdharma/zplugin.git
