*

!.bashrc
!.erlang
!.erlang_settings/
.erlang_settings/*
!.erlang_settings/user_default.erl
!.gemrc
!.gitconfig
!.gitignore_master
!.gitignore
!.zsh-custom
!.zsh-custom/*
!.zsh-custom/themes/*
!.irbrc
!.vimrc
!.zshrc
!.asdf
!asdf_plugins.sh
