[user]
  name = David Kormushoff
  email = kormie@gmail.com
  signingkey = 7E3C1DAD01AC80EF
[core]
  editor       = vim
  excludesfile = ~/.gitignore_master
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[push]
  default = matching
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[commit]
  gpgsign = false
[github]
  user = Kormie
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[net]
  git-fetch-with-cli = true
[gpg]
  program = /usr/local/bin/gpg
