[user]
  name  = David Kormushoff
  email = kormie@gmail.com
	signingkey = 4351FC9621EFC9E5
[core]
  editor       = vim
  excludesfile = ~/.gitignore_master
[color]
  ui = true
[push]
  default = matching
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
